.d-flex.align-items-center.justify-content-center.container {
    width: 100%;
    padding: 0%;
    min-width: -webkit-fill-available;
}

header.w3-container.w3-red.w3-center {
    background-color: darkslategrey !important;
}
div#NOTES {
    background-color: ghostwhite;
}
div#CHAT{
    background-color: ghostwhite;
}
footer.w3-container.w3-padding-64.w3-center.w3-opacity {
    background-color: #f1f1f1;
}
